        /* MODA */

.cabecalho-moda {
    background-color: #bb86fc;
    color: #ffffff;
}

.primeira-linha-moda {
    background-color: #424250;
    color: #ffffff;
}

.segunda-linha-moda {
    background-color: #424250;
    color: #ffffff;
}

        /* MODA */

        /* CASA */

.titulo-casa {
    font-size: 24px;
}

.cabecalho-casa {
    background-color: #00c4b4;
    color: #ffffff;
}

.primeira-linha-casa {
    background-color: #424250;
    color: #ffffff;
}

.segunda-linha-casa {
    background-color: #424250;
    color: #ffffff;
}

        /* CASA */